.tableshadow{ box-shadow:10px 10px 5px #999; padding-top:40px; border:solid 1px #60b2e7}
.lefttxt{ padding-left:30px;  font-size:16px; color:#60b2e7}
.toptd{ color:white; font-size:24px; text-align:center; height:40px; background-color:#60b2e7}
